body{
    margin: 0;
    padding: 0;
}

#canvas_flappy_bird{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index : 1;
}


#gameOver{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index : 2;
    color: white;
    padding: 150px;
    background: black;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
